services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  linkshortener:
    build: ./LinkShortener
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - redis
    environment:
      - Redis__Configuration=redis:6379